#content {
}

#warframe-content {
}

#primary-content {
  display:none;
}

#secondary-content {
  display:none;
}

#melee-content {
  display:none;
}

#sentinel-content {
  display:none;
}

#companions-content {
  display:none;
}

#archwing-content {
  display:none;
}

#archgun-content {
  display:none;
}

#archmelee-content {
  display:none;
}

#content input[type="checkbox"] {
  width:20px;
  height:20px;
  position:relative;
  float:right;
  margin-left:10px;
}

td.image {
  text-align:left;
  font-weight:bold;
}

td.image img {
  width:65px;
  height:65px;
  background-color:rgba(27,26,26,0.21);
  display:inline-block;
  margin:5px;
}

td.name-choice {
  text-align:right;
  line-height:100px;
}

#content tr:not(.head):hover {
  background-color:#ccc;
}

span {
  vertical-align:middle;
  align-self:center;
  line-height:65px;
}

.orokin-reactor {
  background-position:center top;
  display:inline-block;
  width:50px;
  height:33px;
  background-size:50px;
  background-image:url(../img/Orokin_Reactor.png);
  background-repeat:no-repeat;
  margin:0px 7px 0px 24px;
}

.orokin-catalyst {
  background-position:center top;
  display:inline-block;
  width:50px;
  height:33px;
  background-size:50px;
  background-image:url(../img/Orokin_Catalyst.png);
  background-repeat:no-repeat;
  margin:0px 7px 0px 24px;
}

.forma {
  background-position:center top;
  display:inline-block;
  width:50px;
  height:33px;
  background-size:50px;
  background-image:url(../img/Forma.png);
  background-repeat:no-repeat;
  margin:0px 7px 0px 7px;
}

.forma-counter {
  font-size:25px !important;
  vertical-align:middle;
}

tr {
  user-select:none;
}

.forma-holder {
  display:inline-block;
}

.orokin-holder {
  display:inline-block;
}

.lens-holder {
  display:inline-block;
}

#archmelee-content {
}

