#content {
}

#warframe-content {
}

#primary-content {
  display:none;
}

#secondary-content {
  display:none;
}

#melee-content {
  display:none;
}

#sentinel-content {
  display:none;
}

#companions-content {
  display:none;
}

#archwing-content {
  display:none;
}

#archgun-content {
  display:none;
}

#archmelee-content {
  display:none;
}

#content input[type="checkbox"] {
  width:20px;
  height:20px;
  position:relative;
  float:right;
  margin-left:10px;
}

td.image {
  width:500px;
  text-align:left;
  font-weight:bold;
}

td.image img {
  width:65px;
  height:65px;
  background-color:rgba(27,26,26,0.21);
  display:inline-block;
  margin:5px;
}

td.name-choice {
  text-align:right;
  line-height:100px;
}

#content tr:not(.head):hover {
  background-color:#ccc;
}

span {
  vertical-align:middle;
  align-self:center;
  line-height:65px;
}

